body {
    position: relative;
}

.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-box-contacts {
    @extend .flex-box;
    // Seperate #topContacts from .welcome-message
    margin-bottom: 0.5em;
}

.flex-box-contacts li {
    width: 100%;
}

.flex-box-contacts li + li {
    border-top: 1px solid #ccc;
    padding-top: 0.7rem;
    margin-top: 0.7rem;
}

.flex-box-skills {
    @extend .flex-box;
    justify-content: space-around;
}

.flex-box-footer {
    @extend .flex-box;
    justify-content: center;
}

.nice-padding {
    // Centers the header in its container
    padding: 2rem 5rem;
}

.center-vertical {
    align-self: center;
}

.skill {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
    font-size: 2rem;
    margin: 0 0 1rem 1rem;
    cursor: default;
}

.space-above {
    margin-top: 1rem;
}

.affix {
    top: 0; // position affixed navbar at the top of the screen
    width: 94%;
    right: 4%;
}