.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-box-header {
  @extend .flex-box;
  // Seperate #topContacts from .welcome-message
  margin-bottom: 0.5em;
}

.flex-box-skills {
  @extend .flex-box;
  justify-content: space-around;
}

.flex-box-footer {
  @extend .flex-box;
  justify-content: center;
}

.center-content {
  // Centers the header
  padding: 2.5% 5%;
}
