// This allows the lines that display on screens wider than 1200px to be
// positioned correctly.
#projects,
#workExperience,
#education,
#mapDiv {
  position: relative;
}

#bordered{
  border-left:1rem solid $color-top-background;
}

#education{
  border-bottom: 0.7rem solid $color-top-background;
}
