h1 {
  font-size: 4rem;
  color: $color-name;
  line-height: 44px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: $color-support;
  line-height: 1.2;
  padding: 1rem;
}

h3 {
  font-style: italic;
  font-size: 2rem;
  color: $color-standout;
  line-height: 1.1;
}

h4 {
  font-weight: bold;
  font-size: 1.4rem;
  color: $color-support;
  line-height: 1.2;
}

// Line up the headings with the rest of the resume content
h2,
h3,
h4,
h5 {
  padding:1rem 5%;

}
