.big-title {
    font-size: 4rem;
    color: $color-name;
    display: inline;
}

.subtitle {
    font-weight: bold;
    font-size: 2.4rem;
    color: $color-support;
    line-height: 1.2;
    padding: 1rem;
}

.alt-title {
    font-size: 3.1rem;
    line-height: 1.5;
}
