@media only screen and (max-width: 102.4rem) {
  #lets-connect {

    // Otherwise the map will spill under this div on smaller displays.
    margin-top: 5%;
  }
}

@media only screen and (max-width: 90rem) {
  .biopic {
    width: 17.5rem;
  }
}

@media only screen and (max-width: 75rem) {

  // Overrides h1 style in _headings.scss
  .big-title {
    font-size: 3.5rem;
  }

  // Bumps up .header-role on smaller displays for aesthetic effect
  .header-role {
    font-size: 1.5rem;
  }

  // Keeps map from spilling under #lets-connect on small displays
  .map-container {
    padding-bottom: 20%;
  }

  #lets-connect {
    margin-top: 0;
  }

  .welcome-message {
    display: none;
  }

  // Shows a <br> element to put .header-role on a new line
  .line-break {
    display: block;
    height : 0;
    padding: 0;
  }
}

@media only screen and (min-width: 75rem) {
  #skills-h3,
  .biopic {
    display: block;
  }

  #workExperience {
    border-top: 1rem solid $color-top-background;
  }

  #education {
    border-top: 0.5rem solid $color-top-background;
  }
}

@media only screen and (min-width: 100rem) {
  h2 {
    font-size: 1.5rem;
  }

  #bordered a {
    font-size: 1.3rem;
  }

  .date-text,
  .location-text,
  .education-entry,
  p {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 120rem) {

  .subtitle {
    padding-top: 0.5rem;
  }

  // Make sure there is room for #project-line1 and 2
  .project-entry {
    max-width    : 100rem;
    padding-right: 0;
  }

  // Graphic <div>, decorative
  #project-line1 {
    z-index         : 10;
    position        : absolute;
    background-color: $color-top-background;
    width           : 2rem;
    height          : 100%;
    left            : 104rem;
  }

  #project-line2 {
    @extend #project-line1;
    left: 107rem;
  }

  .work-entry {
    max-width    : 115rem;

    // Makes it easy to put #work-line really close to the text.
    padding-right: 0;
  }

  #work-line {
    @extend #project-line1;
    left : 117rem;
    width: 3rem;
  }

  .education-entry {
    max-width    : 93rem;
    padding-right: 0;
  }

  #edu-line1 {
    @extend #project-line1;
    width: 1.5rem;
    left : 95rem;
  }

  #edu-line2 {
    @extend #edu-line1;
    left: 97.5rem;
  }

  #edu-line3 {
    @extend #edu-line1;
    left: 100rem;
  }
}
