html {
    font-size: 62.5%;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

p {
  font-size  : 1.6rem;
  color      : $color-text;
  line-height: 1.3;
}

a {
  color          : $color-link;
  text-decoration: none;
  margin-top     : 1rem;

  // display: table-cell; makes the a elements not extend across the page, so
  // that they keep confined to just where the content is.
  display        : table-cell;
  padding        : 1rem 0;

  &:visited {
    color: $color-link-visited;
  }

  // :hover appears after :visited so that it overrides :visited on the page.
  &:hover {
    color: $color-link-hover;
  }
}

span {

  // Used to keep items in header spaced out from one another.
  padding: 0.5rem;
}

.header-role {
  color: $color-top-content;
}

.date-text {
  font-style  : italic;
  font-size   : 1.4rem;
  color       : $color-support;
  line-height : 1.2;

  // float: left; sends the #education dates to the left so that they line up
  // with the school name instead of appearing after the school name.
  float       : left;

  // margin-right: 5px; adds some space between the dates and the dash that
  // follows them.
  margin-right: 0.5rem;
}

.location-text {
  font-style : italic;
  font-size  : 1.4rem;
  color      : $color-support;
  line-height: 1.6rem;
  float      : right;
}

.education-entry,
.work-entry {
  padding: 0 5%;
}

.welcome-message {
  font-style : italic;
  font-size  : 1.8rem;
  color      : $color-background;
  line-height: 1.4;
}

.highlight-text {
  color: $color-highlight;
}

.white-text {
  font-weight: bold;
  color      : $color-top-content;
}

.online-subtitle {
  margin-top: 0.9rem;
}

// This class is added to a <br> element before the role in the #header and is
// set to display: block; on smaller screens to send the role in #header to its
// own line to avoid crowding.

.line-break {
  display: none;
}

.header-heading {
  color  : $color-highlight;

  // See _media.scss, this is set to display: block; when the screen is at least
  // 750px wide.
  display: none;
}

.big-text {
  font-size: 1.3em;
}

.big-line {
  line-height: 1.5;
}