.highlight {
  background-color: $color-highlight;
}

.gray {
  background-color: $color-background;
  padding-bottom: 10px;
  clear:both;
}

.white{
  padding-bottom: 10px;
}

.dark-gray {
  background-color: $color-bottom;
}

#header {
  background-color: $color-top-background;
}
