body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

div{
  box-sizing: border-box;
}

#projects,
#workExperience,
#education,
#mapDiv {
  position: relative;
}

#bordered{
  border-left:10px solid $color-top-background;
}

#mapDiv{
  border-top: 7px solid $color-top-background;
}
