h1 {
  font-size: 40px;
  color: $color-name;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: $color-support;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: $color-standout;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: $color-support;
  line-height: 17px;
}

// Line up the headings with the rest of the resume content
h2,
h3,
h4,
h5 {
  padding:10px 5%;

}
