.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

.project-img {
  display: block;
  max-width: 90%;
  height: auto;
}

.footer-entry{
  padding: 5px 5px 5px 5px;
  margin: 0 15px 0 15px;
}

.footer-icon {
  color: $color-icons;
  font-size: 1.8em;
  @extend .footer-entry;

  &:visited {
    color: $color-icons;
  }

  &:hover {
    color: red;
  }
}
