@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #name{
    font-size: 1.9em;
  }
  .header-role{
    font-size: 1.5em;
  }
  #topContacts {
    padding-top: 4%;
  }
  #mapDiv{
      padding-bottom: 20%;
    }
  #lets-connect {
    margin-top: 0;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
  .line-break{
    display:block;
    height: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
  #mapDiv{
    border-top: 7px solid $color-top-background;
  }
  #workExperience{
    border-top: 10px solid $color-top-background;
  }
  #education{
    border-top: 5px solid $color-top-background;
  }
}

@media only screen and (min-width: 1200px) {
  .subtitle{
    padding-top: 0.5em;
  }
  .project-entry {
    max-width: 1000px;
  }
  #project-line1 {
    z-index: 10;
    position: absolute;
    background-color: $color-top-background;
    width: 20px;
    height: 100%;
    left: 1040px;
  }
  #project-line2 {
    @extend #project-line1;
    left: 1070px;
  }
  .work-entry{
    max-width: 1150px;
    padding-right: 0;
  }
  #work-line {
    @extend #project-line1;
    left: 1170px;
    width:30px
  }
  .education-entry{
    max-width: 930px;
    padding-right: 0;
  }
  #edu-line1{
    @extend #project-line1;
    width: 15px;
    left: 950px;
  }
  #edu-line2{
    @extend #edu-line1;
    left: 975px;
  }
  #edu-line3{
    @extend #edu-line1;
    left: 1000px;
  }
}
