* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Colors */

@import 'colors';

/* General Resets and clear-fix */

@import 'general';

/* Headings */

@import 'headings';

/* Text */

@import 'text';

/* Backgrounds */

@import 'background';

/* Flow */

@import 'flow';

/* Images */

@import 'images';

/* Map */

@import 'map';

/* Media queries */

@import 'media';
