/* Colors */
/* General Resets and clear-fix */
/* line 1, ../sass/_general.scss */
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* line 17, ../sass/_general.scss */
.clear-fix {
  overflow: auto;
}

/* Headings */
/* line 1, ../sass/_headings.scss */
h1 {
  font-size: 40px;
  color: #ff0;
  line-height: 48px;
  display: inline;
}

/* line 8, ../sass/_headings.scss */
h2 {
  font-weight: bold;
  font-size: 24px;
  color: #404040;
  line-height: 29px;
  padding: 10px;
}

/* line 16, ../sass/_headings.scss */
h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

/* line 23, ../sass/_headings.scss */
h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

/* line 30, ../sass/_headings.scss */
h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

/* Text */
/* line 1, ../sass/_text.scss */
ul {
  list-style-type: none;
}

/* line 5, ../sass/_text.scss */
p {
  font-size: 14px;
  color: black;
  line-height: 21px;
}

/* line 11, ../sass/_text.scss */
a {
  color: #00c;
  text-decoration: none;
  margin-top: 10px;
  display: table-cell;
  padding: 10px 0 10px 0;
}
/* line 18, ../sass/_text.scss */
a:visited {
  color: #606;
}
/* line 22, ../sass/_text.scss */
a:hover {
  color: red;
}

/* line 28, ../sass/_text.scss */
span {
  padding: 5px;
}

/* line 32, ../sass/_text.scss */
.header-role {
  color: #fff;
}

/* line 36, ../sass/_text.scss */
.date-text {
  font-style: italic;
  font-size: 14px;
  color: #404040;
  line-height: 16px;
  float: left;
  margin-right: 5px;
}

/* line 45, ../sass/_text.scss */
.location-text {
  font-style: italic;
  font-size: 14px;
  color: #404040;
  line-height: 16px;
  float: right;
}

/* line 53, ../sass/_text.scss */
.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

/* line 59, ../sass/_text.scss */
.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

/* line 66, ../sass/_text.scss */
.highlight-text {
  color: #ff0;
}

/* line 70, ../sass/_text.scss */
.white-text {
  font-weight: bold;
  color: #fff;
}

/* line 75, ../sass/_text.scss */
.all-caps {
  text-transform: uppercase;
}

/* line 79, ../sass/_text.scss */
.online-subtitle {
  margin-top: 11px;
}

/* line 83, ../sass/_text.scss */
#skills-h3 {
  color: #ff0;
  display: none;
}

/* line 88, ../sass/_text.scss */
#lets-connect {
  text-align: center;
}

/* Backgrounds */
/* line 1, ../sass/_background.scss */
.highlight {
  background-color: #ff0;
}

/* line 5, ../sass/_background.scss */
.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

/* line 11, ../sass/_background.scss */
.dark-gray {
  background-color: #080808;
}

/* line 15, ../sass/_background.scss */
#header {
  background-color: #1a1a1a;
}

/* Flow */
/* line 1, ../sass/_flow.scss */
.flex-box, .flex-box-header, .flex-box-skills, .flex-box-footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 8, ../sass/_flow.scss */
.flex-box-header {
  margin-bottom: 0.5em;
  line-height: 140%;
}

/* line 14, ../sass/_flow.scss */
.flex-box-skills {
  justify-content: space-around;
}

/* line 19, ../sass/_flow.scss */
.flex-box-footer {
  justify-content: center;
  padding: 10px;
}

/* line 25, ../sass/_flow.scss */
.center-content {
  padding: 2.5% 5%;
}

/* Images */
/* line 1, ../sass/_images.scss */
.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

/* line 8, ../sass/_images.scss */
img {
  padding: 10px;
}

/* line 12, ../sass/_images.scss */
.project-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 18, ../sass/_images.scss */
.footer-entry, .footer-icon {
  padding: 5px 5px 5px 5px;
  margin: 0 15px 0 15px;
}

/* line 23, ../sass/_images.scss */
.footer-icon {
  color: #ff0;
  font-size: 1.8em;
}
/* line 28, ../sass/_images.scss */
.footer-icon:visited {
  color: #ff0;
}
/* line 32, ../sass/_images.scss */
.footer-icon:hover {
  color: red;
}

/* Map */
/* line 1, ../sass/_map.scss */
#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

/* line 7, ../sass/_map.scss */
#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

/* line 13, ../sass/_map.scss */
.marker {
  height: auto;
  max-width: 210px;
  font-weight: bold;
  font-size: 20px;
  color: #404040;
  line-height: 24px;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
  /* line 2, ../sass/_media.scss */
  #lets-connect {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 900px) {
  /* line 8, ../sass/_media.scss */
  .biopic {
    width: 175px;
  }
}
@media only screen and (max-width: 750px) {
  /* line 14, ../sass/_media.scss */
  #lets-connect {
    margin-top: 10%;
  }

  /* line 17, ../sass/_media.scss */
  .biopic {
    width: 150px;
  }

  /* line 20, ../sass/_media.scss */
  .welcome-message {
    display: none;
  }
}
@media only screen and (min-width: 750px) {
  /* line 26, ../sass/_media.scss */
  #skills-h3,
  .biopic {
    display: block;
  }
}
